.card {
  width: 19rem;
}

.card img {
  max-height: 21rem;
}

.pointer, .pointer:hover {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

.pointer:hover {
    cursor: pointer;
}
